@page "/MultipleChoiceQuestions"
@page "/asdffads"
@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Razor.TagHelpers
@using SEP3.PaperlessExam.Data.PaperlessExamSevice
@using SEP3.PaperlessExam.Data.PaperlessExamSevice.QuestionSetsService
@using SEP3.PaperlessExam.Model
@using SEP3.PaperlessExam.Model.Questions.MultipleChoice
@inject IJSRuntime JsRuntime
@inject IUserService UserService
@inject IQuestionSetsService QuestionSetsService
@inject NavigationManager NavigationManager
@inject IToastService toastService
<h3 xmlns="">MultipleChoiceQuestions</h3>

<link rel="stylesheet" type="text/css" href="css/TeacherView/QuestionManagement/CreateQuestionSet/MultipleChoice/multipleChoiceQuestions.css">

<h3>Multiple-choice Questions Builder</h3>    

<EditForm Model="_multipleChoiceSet">
    
    @for (var index1 = 0; index1 < _multipleChoiceSet.MultipleChoiceQuestions.Count; index1++)
    {
        var multipleChoiceQuestion = _multipleChoiceSet.MultipleChoiceQuestions[index1];

        counter = index1+1;
        <div class="container-fluid questionContainer">
            @* Type question  *@
            <div class="row">
                <div class="col-md-1">
                    <div class="questionNumberBox d-flex">
                        <div class="d-flex">
                            <label class="counterDiv d-flex justify-content-center">@counter</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <input type="text" class="form-control" placeholder="Type your question" @bind="@multipleChoiceQuestion.question"/>
                </div>
            </div>
            @* Type number of points *@
            <div class="row top-buffer">
                <div class="col-md-1 offset-1  padding-right0 ">
                    <input type="number" class="form-control" @bind="@multipleChoiceQuestion.Score" placeholder="Score"/>
                </div>
                <div class="col-md-1 padding-left0">
                    <label>points</label>
                </div>
            </div>




            <div class="row top-buffer justify-content-center">
                <div class="col-md-1 offset-2">
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-1"></div>
            </div>
            @for (var i = 0; i < multipleChoiceQuestion.QuestionOptions.Count; i++)
            {
                var index = i;
                var questionOption = multipleChoiceQuestion.QuestionOptions[i];
                Console.WriteLine(i);
                <div class="form-group row top-buffer justify-content-center">
                    <div class="col-md-1 offset-2">
                        <RadzenCheckBox Style="width: 36px;height: 34px" TValue="bool" @bind-Value="@questionOption.IsCorrectAnswer" Change=@(args => SetCorrectAnswer(args))>
                        </RadzenCheckBox>

                    </div>
                    <div class="col-md-7">
                        <InputText type="text" class="form-control" @bind-Value="@questionOption.Answer" placeholder="Answer"/>
                    </div>
                    <div class="col-md-1">
                        <RadzenButton Icon="delete" style="width: 37px" Click=@(() => multipleChoiceQuestion.RemoveQuestionOption(questionOption))>
                        </RadzenButton>
                    </div>
                </div>
            }


            <div class="row top-buffer justify-content-center">
                <div class="col-md-1 offset-2">
                    <div class="additionalQuestionSelectBox">
                    </div>
                </div>
                <div class="col-md-8">
                    <button id="addButton" type="button" class="additionalQuestionButton"
                            @onclick="@(() => multipleChoiceQuestion.QuestionOptions.Add(new QuestionOption()))">
                        <span style="color: blue"> Add more</span>
                    </button>
                </div>
            </div>
    

            @* Add additional option *@
            <div class="row top-buffer justify-content-end">
                <RadzenButton style="width: auto; margin-right: 7px" Text="Delete Question" Click=@(() => _multipleChoiceSet.MultipleChoiceQuestions.Remove(multipleChoiceQuestion))>
                </RadzenButton>
            </div>
        </div>

    }


    @* Add new question && Finish buttons *@
    <div class="row top-buffer justify-content-between">
        <div class="col-md-3 offset-9">
            <RadzenButton Icon="" Text="Add question" Click=@(() =>done() )></RadzenButton>
            
            <RadzenButton Icon="" style="background-color: #3eb02f;margin-top: 5px" Click="@(() => GetPprint())" Text="Finish">
                        </RadzenButton>
        </div>
        @* <div class="col-md-3"> *@
        @*    *@
        @* </div> *@
    </div>
</EditForm>
@code {
    
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Topic { get; set; }

    private User _updatedUser;

    private string _roleName;
    
    private string score;

    private string question;

    private int counter;



    public MultipleChoiceSet _multipleChoiceSet;

    
    
    protected override async Task OnInitializedAsync()
    {
        
        User user = await UserService.FindByUsername(Username);


        _updatedUser = user;
        Console.WriteLine(_updatedUser.Username+"  "+Title);
        _multipleChoiceSet = new MultipleChoiceSet(Title, Topic, _updatedUser);
    }

    
    
    bool _correctAnswerValue;

    int _questionNumber;

    bool? _correctAnswer;

    private void SetCorrectAnswer(bool? value)
    {
        _correctAnswer = value;
        Console.WriteLine(_correctAnswer);
    }

    private async Task DeleteAnswerRowAsync()
    {
        await JsRuntime.InvokeVoidAsync("deleteAnswerRow");
    }

    private string GetPprint()
    {
        return _multipleChoiceSet.MultipleChoiceQuestions.ToString();
    }


    private void done()
    { 
        _multipleChoiceSet.AddQuestion(new MultipleChoiceQuestion());
        if (counter == 0)
        {
            Console.WriteLine("pidaras");
        }
        else
        {
           MultipleChoiceQuestion multipleChoiceQuestion= _multipleChoiceSet.MultipleChoiceQuestions[counter-1];
           //Request to add MultipleChoiceQuestion
            foreach (var option in multipleChoiceQuestion.QuestionOptions)
            {
            // Request to add question option
                Console.WriteLine();
            }
            Console.WriteLine(multipleChoiceQuestion.question);
    // MultipleChoiceQuestion multipleChoiceQuestion = new MultipleChoiceQuestion();
        }
       
    }

}